/Soft/STM32/Ethernet_NTP_STM32_NEW_04/.vs
/Soft/STM32/Ethernet_NTP_STM32_NEW_04/__vm
/Soft/STM32/Ethernet_NTP_STM32_NEW_04/Ethernet_NTP_STM32_NEW_04.sln
/Soft/STM32/Ethernet_NTP_STM32_NEW_04/Ethernet_NTP_STM32_NEW_04.vcxproj
